$root: 'chrome-extension://__MSG_@@extension_id__/static';
$background-color: #333;
$foreground-color: #e1e1e1;
$accent-color: #999;
$fonts: sans-serif;

@keyframes _bt-console-in {
    0% {
        opacity: 0;
        transform: translate3D(0, -100px, 0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes _bt-console-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3D(0, -100px, 0);
    }
}

@keyframes _bt-spinner {
    from {
        background-position-x: -100%;
    }
    to {
        background-position-x: 100%;
    }
}

@keyframes _bt-fade-in {
    0% {
        opacity: 0;
    }
}

@keyframes _bt-fade-out {
    100% {
        opacity: 0;
    }
}

#backtick-container {
    border: 1px solid rgba(255, 255, 255, 0.125);

    .reset {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
    }

    .hidden {
        display: none !important;
    }

    @extend .reset;

    position: fixed;
    z-index: 2147483647;

    left: 20px;
    top: 20px;

    width: 400px;
    height: auto;

    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: normal;
    color: $foreground-color;

    .console {
        @extend .reset;

        width: 100%;
        height: 50px;

        display: flex;
        flex-direction: row;

        padding: 5px 10px;

        background-color: $background-color;

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        border-radius: 5px;
        overflow: hidden;

        &.in {
            animation: _bt-console-in 0.3s both;
        }

        &.out {
            animation: _bt-console-out 0.3s both;
        }

        .icon {
            @extend .reset;

            position: relative;
            display: block;
            width: 40px;
            margin-right: 5px;

            background: url($root + '/images/icon.png') no-repeat;
            background-size: 100%;
            background-color: inherit;

            border: none;
            opacity: 0.8;

            &:after {
                display: block;
                content: '';
                position: absolute;

                left: 0;
                top: 0;

                width: 100%;
                height: 100%;

                background-image: url($root + '/images/icon-highlight.png');
                background-size: 100%;
                background-color: inherit;

                transition: opacity 0.25s;
            }

            &:hover {
                opacity: 1;
                &:after {
                    opacity: 1;
                }
            }

            &:active {
                top: 1px;
            }

            &:focus {
                outline: none;
            }

            .loading {
                & {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        .spinner {
            position: absolute;
            top: 5px;
            left: 15px;
            width: 30px;
            height: 40px;
            background: url($root + '/images/spinner.png') repeat-x;
            background-size: auto 100%;
            opacity: 0;
        }

        input {
            @extend .reset;

            width: 330px;

            font-family: $fonts;
            font-size: 16px;
            line-height: 18px;

            color: $foreground-color !important;

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder {
                font-style: italic !important;
                color: mix(
                    $foreground-color,
                    $background-color,
                    50%
                ) !important;
            }
        }
    }

    &.loading .spinner {
        opacity: 0.5;
        animation: _bt-fade-in 0.5s 0.25s both,
            _bt-spinner 0.5s infinite linear both;
    }

    .results {
        position: absolute;
        width: 100%;
        max-height: 275px;
        overflow: auto;
        background-color: $background-color;

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        border-radius: 5px;

        &:empty {
            display: none;
        }

        * {
            cursor: default;
            user-select: none;
            user-select: none;
        }

        ul {
            @extend .reset;

            li {
                @extend .reset;
                border-top: 1px solid rgba(255, 255, 255, 0.125);
                &.selected {
                    background-color: rgba(255, 255, 255, 0.095);
                }
                &:focus,
                &:active,
                &.active {
                    background-color: rgba(255, 255, 255, 0.1);
                    outline-color: rgba($accent-color, 0.5);
                    outline-width: 1px;

                    .icon {
                        margin-top: 6px;
                    }
                }

                &.none {
                    padding: 10px 20px 15px 20px;
                }

                &.command {
                    display: block;
                    padding: 12px 10px;

                    .name {
                        display: block;

                        .match {
                            font-weight: bold;
                            color: $accent-color;
                        }
                    }

                    .description {
                        margin: 2px 0 0;
                        opacity: 0.8;
                        font-style: italic;
                        &:empty {
                            display: none;
                        }
                        .match {
                            font-weight: bold;
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }
}
